<!---------- Slider HTML Starts --------->
<br />
<br />
<br />
<br />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


<div class="slider mt-5">
    <img src="./css/LNCT.jpeg" style="height: 450px" />
</div>
<!---------- Slider HTML Ends --------->
<!---------- News, Event, Notice Board HTML Starts --------->
<div class="container">
    <div class="main-section text-danger">
        <!---------- News Section --------->
        <div class="event">
            <h2 class="heading">Campus News</h2>
            <div>
                <marquee direction="up" scrollamount="2" style="height:400px;">
                    <ul>
                        <li><i class="bi bi-pencil-square"></i> New Science Lab Opens: We've got a cool new science lab with all the latest gadgets for experiments!</li>
                        <li><i class="bi bi-pencil-square"></i> Student Wins Big Debate: Our friend John won a big debate competition against lots of other schools!</li>
                        <li><i class="bi bi-pencil-square"></i> Go Green Initiative Starts: We're starting a project to help the environment by recycling and saving energy. Let's all join in!</li>
                        <li><i class="bi bi-pencil-square"></i> Dr. Jane Gets a Big Prize: Our awesome teacher, Dr. Jane, got a special award for her smart brain research!</li>
                    </ul>
                </marquee>
            </div>
        </div>
        <!---------- Event Section --------->
        <div class="event">
            <h2 class="heading">Events</h2>
            <div>
                <marquee direction="up" scrollamount="2" style="height:400px;">
                    <ul>
                        <li><i class="bi bi-pencil-square"></i> Game Night with Friends: Join us for a night of games and fun in the common room!</li>
                        <li><i class="bi bi-pencil-square"></i> Make Your Own Snacks: Create your own yummy snacks with toppings at our snack bar event!</li>
                        <li><i class="bi bi-pencil-square"></i> Sing Along at Karaoke: Sing your favorite songs with friends at our karaoke session!</li>
                        <li><i class="bi bi-pencil-square"></i> Picnic with Live Music: Chill out with snacks and live music at our outdoor picnic event!</li>
                    </ul>
                </marquee>
            </div>
        </div>
        <!---------- Notice Board Section --------->
        <div class="event">
            <h2 class="heading">Notice Boards</h2>
            <div>
                <marquee direction="up" scrollamount="2" style="height:400px;">
                    <ul>
                        <li><i class="bi bi-pencil-square"></i> Room Change: "Attention students! Room change for Biology class, now in Room 203."</li>
                        <li><i class="bi bi-pencil-square"></i> Library Closure: "Library closed for maintenance tomorrow. Sorry for inconvenience."</li>
                        <li><i class="bi bi-pencil-square"></i> Career Fair: "Get ready for the Career Fair next Friday! Dress sharp!"</li>
                        <li><i class="bi bi-pencil-square"></i> Club Elections: "Club elections next week. Interested? Sign up now!"</li>
                    </ul>
                </marquee>
            </div>
        </div>
    </div>
    <!---------- News, Event, Notice Board HTML Ends --------->
    <!---------- About Us HTML Starts --------->
    <div class="main-section about-us">
        <img src="https://lnct.ac.in/wp-content/uploads/2021/04/Jai-Narain-Chouksey.png">
        <div>
            <h2 class="heading">About Our Chairman</h2>
            <p>
                Innovative and visionary leadership, coupled with unwavering integrity,
                has propelled our college to unprecedented heights under the chairman's
                guidance. His commitment to excellence and strategic decision-making have
                not only shaped the institution's trajectory but also inspired a culture
                of continuous improvement and achievement. Through fostering collaboration,
                inclusivity, and ethical conduct, he has created a vibrant community
                dedicated to academic excellence and societal impact. His tireless
                dedication to the college's mission and values has left an indelible
                mark, earning him widespread respect and admiration from all stakeholders.
                Moreover He use to believe in this thought..."Education is what remains
                after one has forgotten what one has learned in school”. At LNCT University,
                the purpose of life is taught. The technology persists for products but
                the thought technologies in school are introduced to prepare the scholar
                for understanding the Education for life."
            </p>
        </div>
    </div>
    <!---------- About Us HTML Ends --------->
    <!---------- Testimonial HTML Starts --------->
    <div class="main-section">
        <h2 class="heading">What Student Say's About Courses</h2>
        <marquee scrollamount="4">
            <div class="testimonial">
                <div class="testimonial-text">
                    <h4 class="text-danger">Comprehensive Curriculum: </h4>
                    ==> Our courses are designed to cover all essential topics,<br />
                    providing students with a well-rounded education in their <br />
                    chosen field.
                </div>

            </div>
            <div class="testimonial mx-5">
                <div class="testimonial-text">
                    <h4 class="text-danger">Industry-Relevant Content: </h4>
                    ==> We ensure that our courses incorporate the latest industry <br />
                    trends and practices, preparing students for real-world <br />
                    challenges and opportunities.
                </div>
            </div>
            <div class="testimonial mt-5">
                <div class="testimonial-text">
                    <h4 class="text-danger">Experienced Faculty: </h4>
                    ==>  Our faculty members are experts in their respective <br />
                    fields, bringing years of industry experience and academic <br />
                    knowledge to the classroom.
                </div>

            </div>
            <div class="testimonial mt-5 mx-5">
                <div class="testimonial-text">
                    <h4 class="text-danger">Hands-On Learning: </h4>
                    ==> We emphasize practical, hands-on learning experiences to <br />
                    complement theoretical knowledge, giving students valuable <br />
                    skills they can apply immediately.
                </div>

            </div>
            <div class="testimonial mt-5">
                <div class="testimonial-text">
                    <h4 class="text-danger">Internship Opportunities: </h4>
                    ==>  We provide students with access to internship opportunities<br />
                    with leading companies, allowing them to gain valuable work <br />
                    experience and build professional networks.
                </div>

            </div>
            <div class="testimonial mt-5 mx-5">
                <div class="testimonial-text">
                    <h4 class="text-danger">Career Guidance:</h4>
                    ==> Our dedicated career counseling services help students <br />
                    explore career paths, develop essential skills, and navigate <br />
                    the job market successfully.
                </div>

            </div>
        </marquee>
    </div>
    <!---------- Testimonial HTML Ends --------->
    <!---------- Gallery HTML Starts --------->
    <div class="main-section gallery">
        @*         <h2 class="heading">Gallery</h2>
        *@        <img src="images/gallery-1.jpg">
        <img src="images/gallery-2.jpg">
        <img src="images/gallery-3.jpg">
        <img src="images/gallery-4.jpg">
        <img src="images/gallery-5.jpg">
        <img src="images/gallery-6.jpg">
        <img src="images/gallery-7.jpg">
        <img src="images/gallery-8.jpg">
    </div>
    <!---------- Gallery HTML Ends --------->
    <!---------- Placement HTML Starts --------->
    <div class="main-section ">
        <h2 class="heading">Placement</h2>
        <marquee class="placement" direction="left" scrollamount="10">
            <img src="images/company-1.jpg">
            <img src="images/company-2.jpg">
            <img src="images/company-3.jpg">
            <img src="images/company-4.jpg">
            <img src="images/company-5.jpg">
            <img src="images/company-6.jpg">
            <img src="images/company-7.jpg">
            <img src="images/company-8.jpg">
            <img src="images/company-9.jpg">
            <img src="images/company-10.jpg">
            <img src="images/company-11.jpg">
            <img src="images/company-12.jpg">
        </marquee>
    </div>
</div>
<!---------- Placement HTML Ends --------->

<style>
    body {
        background: linear-gradient(135deg, #fdf2e9, #F6B1B3);
    }

</style>